
<blockquote data-message-id="{{ this.message.id }}">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="text-align: left; width: 40%;">{{ this.message.message }}</td>
            <td style="text-align: center; width: 20%;">{{ this.message.author.username|default('No author') }}</td>
            <td style="text-align: center; width: 20%;">{{ this.message.channel.name|default('No channel') }}</td>
            <td style="text-align: right; width: 20%;">{{ this.message.sentAt|format_datetime }}</td>
        </tr>
    </table>
</blockquote>